<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- CSS goes in the document HEAD or added to your external stylesheet -->

<style type="text/css">
table.hovertable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
table.hovertable th {
	background-color:#c3dde0;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
table.hovertable tr {
	background-color:#d4e3e5;
}
table.hovertable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
</style>

<!-- Table goes in the document BODY -->
<table class="hovertable">
<tr>
	<th>&nbsp;&nbsp;题号&nbsp;&nbsp;</th><th>&nbsp;考生答案&nbsp;</th><th>&nbsp;正确答案&nbsp;</th>
</tr>
{% for i in s %}
<tr onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#d4e3e5';">
	<td>{{ i['qid'] }}&nbsp;</td><td>{{ i['rec'] }}&nbsp;</td><td>{{ i['ans'] }}</td>
    {% end %}
</tr>
</table>
</body>
</html>